@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

@import url(//db.onlinewebfonts.com/c/3d85dc16e94da9358d451666fdbc3398?family=Circular+Medium);
@import url(//db.onlinewebfonts.com/c/790b3c13fc2762b72a49fcefab324514?family=Circular+Black);
@import url(//db.onlinewebfonts.com/c/02d8f1743ede250c7c9865f1574d7cc6?family=Circular+Book);

@font-face {font-family: 'Circular Medium'; src: url('//db.onlinewebfonts.com/t/3d85dc16e94da9358d451666fdbc3398.eot'); src: url('//db.onlinewebfonts.com/t/3d85dc16e94da9358d451666fdbc3398.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/3d85dc16e94da9358d451666fdbc3398.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/3d85dc16e94da9358d451666fdbc3398.woff') format('woff'), url('//db.onlinewebfonts.com/t/3d85dc16e94da9358d451666fdbc3398.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/3d85dc16e94da9358d451666fdbc3398.svg#Circular Medium') format('svg'); }
@font-face {font-family: 'Circular Black'; src: url('//db.onlinewebfonts.com/t/790b3c13fc2762b72a49fcefab324514.eot'); src: url('//db.onlinewebfonts.com/t/790b3c13fc2762b72a49fcefab324514.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/790b3c13fc2762b72a49fcefab324514.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/790b3c13fc2762b72a49fcefab324514.woff') format('woff'), url('//db.onlinewebfonts.com/t/790b3c13fc2762b72a49fcefab324514.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/790b3c13fc2762b72a49fcefab324514.svg#Circular Black') format('svg'); }
@font-face {font-family: 'Circular Book'; src: url('//db.onlinewebfonts.com/t/02d8f1743ede250c7c9865f1574d7cc6.eot'); src: url('//db.onlinewebfonts.com/t/02d8f1743ede250c7c9865f1574d7cc6.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/02d8f1743ede250c7c9865f1574d7cc6.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/02d8f1743ede250c7c9865f1574d7cc6.woff') format('woff'), url('//db.onlinewebfonts.com/t/02d8f1743ede250c7c9865f1574d7cc6.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/02d8f1743ede250c7c9865f1574d7cc6.svg#Circular Book') format('svg'); }

:root {
  --bs-grey: #a7a7a7;
  --bs-muted: #cecece;
  --bs-secondary: #6D6D6F;
  --bs-primary: #1178ce;
  --bs-light: #f7f9fb;
  --bs-white: #fff;
  --chevron-icon: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0nZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biBzYy1pd3NLYkkgY25sY29RJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIGFyaWEtaGlkZGVuPSd0cnVlJyBkYXRhLXJlYWN0aWQ9JzI2Nic+PHBvbHlsaW5lIHBvaW50cz0nNiA5IDEyIDE1IDE4IDknPjwvcG9seWxpbmU+PC9zdmc+);
}

body {
  font-family: 'Circular Book';
}

h1 {
  font-family: 'Circular Black';
  font-size: 28px;
}

h2 {
  font-family: 'Circular Black';
  font-size: 24px;
}

h4 {
  font-family: 'Circular Black';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.app {
  max-width: 1140px;
}

.container {
  max-width: unset!important;
}

.btn {
  border-radius: 2px;
  font-family: 'Circular Medium';
  font-size: 13px;
  line-height: 19.5px;
  padding: 8px 20px;
  text-transform: capitalize;
}

.btn-outline-muted {
  border-color: var(--bs-muted);
}

.btn-outline-muted:hover {
  background-color: #ededed;
  border-color: var(--bs-muted);
  color: var(--bs-dark);
}

.header .btn {
  border-width: 2px;
}

.header {
  background: linear-gradient(-135deg,#489cef,#175da7);
  padding: 16px 32px;
}

.header .container-fluid {
  height: 40px;
}

.header h1 {
  font-size: 18px;
}

.header .bi-question-circle {
  font-size: 28px;
}

@media {
  .header .bi-question-circle {
    font-size: 13px;
    margin-right: 6px;
  }
}

@media (min-width: 992px) {
  .header .container-fluid {
    height: 120px;
  }

  .header h1 {
    font-size: 28px;
  }
}

.header .row {
  align-items: center;
  height: 100%;
}

.header-button {
  width: 180px;
}

.app {
  padding: 40px 36px 20px 36px;
}

.nav-item:not(:last-child) {
  border-right: 1px solid var(--bs-muted);
}

.nav-link {
  padding: 0 12px;
}

.form-step-header,
.form-step-body {
  display: grid;
  grid-template-columns: 25px 1fr;
}

.form-step-header {
  align-items: center;
}

.form-step-index {
  background: var(--bs-grey);
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
}

.form-step-active .form-step-index {
  background-color: var(--bs-primary);
}

.form-step-title {
  padding-left: 36px;
}

.form-step:not(.form-step-active) .form-step-title {
  color: var(--bs-grey);
}

.form-step-spacer {
  background-color: var(--bs-muted);
  height: calc(100% - 16px);
  margin: 8px 12px;
  width: 1px;
}

.form-step:not(:last-child) .form-step-spacer,
.form-step-active:last-child .form-step-spacer {
  min-height: 22px;
}

.form-step-active .form-step-content {
  margin: 40px 0 48px 0;
  padding-left: 36px;
}

.form-step:not(.form-step-active) .form-step-content {
  display: none;
}

.card {
  border: 1px solid #a9abb6;
  border-radius: 2px;
  color: var(--bs-secondary);
  cursor: pointer;
  transition: all .5s;
}

.card.card-error {
  border-color: var(--bs-danger);
}

.card.card-active,
.card:hover,
.card:focus {
  border-color: var(--bs-primary);
  opacity: 1;
}

.card.card-active {
  box-shadow: 0 0 15px -1px rgba(0,0,0,.5);
}

.card.card-faded {
  opacity: 0.66;
}

.card .card-header {
  background-color: var(--bs-light);
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 236px;
}

@media (min-width: 992px) {
  .card .card-header {
    min-height: 286px;
  }
}

.card-active .card-header {
  color: var(--bs-white);
}

.card-active .card-header {
  background-color: var(--bs-primary);
}

.card-header h4 {
  margin-bottom: 40px;
}

.card-header h2 {
  color: var(--bs-primary);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 40px;
}

.card-active .card-header h2 {
  color: var(--bs-white);
}

.card .card-body {
  color: var(--bs-secondary);
}

.card .list-group{
  border: 0;
}

.card .list-group-item {
  border: 0;
  font-family: 'Circular Book', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px 0;
  color: var(--bs-secondary);
}

.card .list-group-item:not(:last-child) {
  border-bottom: 1px solid var(--bs-muted);
}

.member-card-row .col-md-4 {
  padding: 0 16px;
}

.select {
  position: relative;
}

.select .btn {
  border: 1px solid #85868c;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Circular Book', sans-serif;
  height: 38px;
  padding: 8px;
  text-align: left;
  width: 100%;
}

.select .btn:hover {
  border-color: #4a4d56;
}

.select.select-error .btn {
  border-color: var(--bs-danger);
}

.select .btn::after {
  content: var(--chevron-icon);
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all .3s ease;
}

.select .btn.show {
  border-color: var(--bs-primary);
}

.select .btn.show::after {
  transform: rotate(180deg);
  top: 2px;
}

.select .dropdown-menu {
  border: 1px solid var(--bs-primary);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 2px;
  transform: none;
  top: -8px!important;
  width: 100%;
}

.select .dropdown-item {
  font-size: 18px;
  padding: 8px;
}

.select li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid #ededed;
}

.select .dropdown-item:focus,
.select .dropdown-item:hover {
  background-color: #ededed;
  color: var(--bs-primary);
}

.select label {
  color: var(--bs-secondary);
  font-size: 18px;
  left: 8px;
  pointer-events: none;
  position: absolute;
  top: 4px;
}

.select.select-selected label {
  background-color: #fff;
  font-size: 8px;
  top: -4px;
  transition: all .3s ease;
}

.text-error {
  color: var(--bs-danger);
  position: absolute;
}